<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ABOUT PAGE</title>
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <h1 id="title">BIOGRAPHY</h1>
    <div id="text">
        <p id="pepe"></p>
        <p>Cristiano Ronaldo is a Portuguese professional footballer who has played for Manchester United, Real Madrid, Juventus and Portugal. Along with Lionel Messi, he is regularly considered one of the two best players in the world. He became the most expensive player in the world when Real Madrid signed him from Manchester United for 94 million euros in 2009. His consistent performances have allowed him to set numerous goalscoring records and he has been named FIFA Player of the Year (Ballon d'Or) five times. With an impressive record of 1,000 professional games and more than 700 goals, he has become an icon of soccer.</p>
     </div>
    <a id="home" href="/">HOME</a>

  </body>
</html>