<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PHOTO</title>
    <link rel="stylesheet" href="/foto.css" /> 
 </head>
  <body>
    <h1 id="title">National Team</h1>
    <img id="ronaldonat" src="public/Ronaldo.jpg" alt="National Team">
    <p id="phrase1">Club</p>
    <img id="ronaldoman" src="public/ronaldoal.jpg" alt="Recent Club">
    <p id="phrase2">Past clubs</p>
    <img id="ronaldorm" src="public/ronaldorm.jpg" alt="Past Clubs">
    <p id="phrase3">Old clubs</p>
    <img id="ronaldojuv" src="public/ronaldojuv.jpg" alt=""

    <a id="home" href="/">HOME</a>
  </body>
</html>