<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contributions</title>
    <link rel="stylesheet" href="/work.css" />
  </head>
  <body>
    <h1 id="title">Works</h1>
    <div id="images">
        <img id="fototank" src="public/portugal.png" alt="tank">
        <p id="phrase1">“I’ve never made it a secret I aim to be the best.” It is one of Cristiano Ronaldo’s most famous quotes. When it comes to the Seleção, at least, mission accomplished. The Madeira-born phenomenon has obliterated all records for Portugal’s national team, long ago rendering redundant comparisons with the forever revered Eusébio as regards the country’s greatest ever footballer.

            PortuGOAL charts the international timeline of a living Seleção legend, the relationships with coaches that shaped his output in a Portugal shirt and the numerous occasions when Ronaldo has taken it upon himself to beat the opposition single-handedly. 
            
            Ronaldo has just reached the landmark number of 100 goals for his country, and the story is not over yet. This article will be updated as the Portugal captain continues to build on an astonishing legacy.
            
             </p>
        <img id="fotogun" src="public/realmadrid.png" alt="machine gun">
        <p id="phrase2">Cristiano Ronaldo is a part of Real Madrid's legacy and will forever be remember as one of the great icons throughout the club's history. He was unveiled at the Santiago Bernabéu on 6 July 2009, where he was joined by Eusebio and Alfredo Di Stéfano, and since that day, the goals just kept coming. He netted 451 times in 438 competitive appearances with Real Madrid (averaging over a goal a game). He registered in all of the competitions he featured in: 312 in LaLiga, 105 in the Champions League, 22 in the Copa del Rey, six in the Club World Cup, four in the Spanish Super Cup and two in the UEFA Super Cup.

            Nobody throughout the club's history has scored as many goals as the Portuguese attacker, who boasts an impressive trophy haul as a Real Madrid player: four Champions League crowns, three Club World Cups and UEFA Super Cups apiece, two LaLiga titles, a pair of Copas del Rey and two Spanish Super Cups. This list of honours is completed with four Ballons d'Or, three Golden Shoe awards, two The Best awards, whilst he was named UEFA Best Player in Europe three times and landed the Pichichi crown on three occasions.</p>
        <img id="fotoheli" src="public/man u.png" alt="helicopter">
        <p id="phrase3">Ronaldo played with Man Utd from 2003 to 2009, then from 2021 to 2022.

            He is one of the most prolific goal scorers in the history of the sport, and he exhibited this during his first stint at Old Trafford, where he was the number one scorer in his last three seasons. This level of performance earned him his first Ballon d’Or.
            
            During Ronaldo's stay at United, he delivered a total of 145 goals and 64 assists in 346 appearances. He tallied 103 of these goals and 37 of these assists at the Premier League.</p>
    </div>
    <a id="home" href="/">HOME</a>

  </body>
</html>